.avatar-uploader-group {
    display:inline-block;
    width: 100%;
    position: relative;
    padding: 0px;
    margin: 0px;
    border: 2px dashed #B4B4B4;
    border-radius: 8px;
    cursor: pointer;
}
.avatar-uploader-group > input[type=file].avatar-file {
    margin: 0px;
    padding: 0px;
    position: absolute;
    z-index: 0;
    opacity: 0;
    top:0;
    left:0;
}
.avatar-uploader-group > input[type=file].avatar-file + div.avatar-display {
    display:block;
    width: 80%;
    height: 0;
    padding-top: 80%;
    margin:10%;
    border-radius: 5px;
    transition: all 100ms ease-in-out;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.avatar-uploader-group:after {
    content: "CHOOSE FILE";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 0.8em;
    opacity:0;
    color: white;
    transition: all 150ms ease-in-out;
    border-radius: 8px;
}

.avatar-uploader-group.round > input[type=file].avatar-file + div.avatar-display,
.avatar-uploader-group.round:after {
    border-radius: 4000px;
}
.avatar-uploader-group:hover:after {
    opacity:1;
}