{% load static %}
{% load cus_tags %}
{% load cus_filters %}

<style>
    .notif-counter {
        position: absolute;
        font-size: 12px;
        right: 0;
        top: 0;
        background: #ff2525;
        color: #fff;
        font-weight: 600;
        margin-left: 25px;
        border: 1px solid #fff;
        width: 20px;
        height: 20px;
        border-radius: 6px;
        margin-right: -5px;
        margin-top: -5px;
    }
</style>
<div id="page_title_cont" class="page-title-cont clearfix">
    <span class="page-title inline-block mt15">{{header}}</span>
</div>
