{% load static %}
{% load cus_tags %}
{% load cus_filters %}

<div class="sidebar-heading">
    <span class="sidebar-baiyarin-title">Book Doc</span>
    <span class="sidebar-portal-title">by Mark</span>
</div>
<div class="nav-cont" data-scroll-detect data-target=".scroll-display">
    <ul class="nav-list">
        <li class="nav-item" data-nav="nav_dashboard">
            <a href="">
                <span class="icon"><i class='bx bx-home'></i></span>
                <span class="text">Appointment Dashboard</span>
            </a>
        </li>
    </ul>
</div>
